{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <script src="{% static 'js/htmx-ext/debug.js' %}" defer></script>
        {% django_htmx_script %}
        <title>Document</title>
    </head>
    <body class="bg-green-700 p-20">
        <div>base.html</div>

        {% block content %}

        {% endblock %}
    </body>
</html>
