{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
        <script src="{% static 'js/htmx/extensions.js' %}" defer></script>
        {% django_htmx_script %}
        <title>Document</title>
    </head>
    <body class="bg-green-700 p-20">
        <div>_base.html</div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
